html, body, p {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  background: #000;
}

.container {
  color: #ccc;
  width:100%;
  display: none;
}

.contain {
  color: #333333;
  height:auto;
  margin-bottom: 2px;
  margin-right: 4px;
  margin-left: 4px;
}

.adjust {
  text-overflow:ellipsed;
  withe-space:nowrap;
  overflow:hidden;
  background-image: url(../img/handle_left.png),
                    url(../img/handle_right.png),
                    url(../img/background1.png);
  background-repeat: repeat-y,
                     repeat-y,
                     repeat;
  background-position: left,
                       right,
                       top left;
}

.just {
  text-overflow:ellipsed;
  withe-space:nowrap;
  overflow:hidden;
}

a {
  color: #527910;
  text-decoration: none;
}

a:hover {
  color: #ff9000;
}

.powered-by {
  font-size: 90%;
  color: #999;
  font-style: italic;
  margin-top: 5px;
  margin-left: 10px;
  margin-bottom: 5px;
}

.preset {
  background-color: #DBCB9F;
  overflow: hidden;
  margin-bottom: 5px ;
  margin-left: -5px;
  margin-right: -5px;
}

.screw-border {
  border-style: solid;
  border-width: 35px;
  -moz-border-image: url(../img/screw.png) 30 repeat;
  -webkit-border-image: url(../img/screw.png) 30 repeat;
  -o-border-image: url(../img/screw.png) 30 repeat;
}

.header {
  padding: 0px 4px 10px 0px;
}

.name {
  display:inline;
  margin-right: 8px;
  font-size: 120%;
  text-shadow: 1px 1px 1px #749B32;
}

.author {
  font-size: 80%;
}

.description {
  padding: 0px 2px 15px 2px;
  font-size: 90%;
}

.tags {
  padding: 0px 0px 10px 0px;
  float: left;
  margin-bottom: 0px;
}

.tags span {
  margin-left: 4px;
  color: #ccc;
}

.buttons {
  float: right;
  margin-right: 10px;
}

.button {
  margin-right: 8px;
  margin-left: 4px;
  color: #ff9000;
}

.badge {
  background-color: #333;
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px 3px 7px;
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border-radius: 4px;
  margin-top: 4px;
}
